body {
  padding: 0px;
  margin: 0px;
  background-color: #f0f0f0;
}

#content {
  max-width: 650px;
  margin: auto;
}

#title {
  text-align: center;
  font-size: 28px;
  font-weight: lighter;
  font-family: serif;
  color: #666;
  padding: 30px;
}

#main-content {
  border: 1px #cacaca solid;
  border-radius: 4px;
  background-color: white;
  padding: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 25px;
  margin-top: 0px;
  margin-bottom: 40px;
  min-height: 400px;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
  border-bottom: 1px #e0e0e0 solid;
}

.section:last-child {
  border-bottom: 2px #fff solid;
}

.section-title {
  width: 140px;
  font-size: 18px;
  font-weight: bold;
  color: #555;
  display: inline-block;;
}

.section-right {
  width: 370px;
  margin: 0px;
  padding: 0px;
  float: right;
}

.clear {
  clear: both;
}

#footer {
  text-align: center;
  margin: auto;
}

.author {
  font-size: 16px;
  font-weight: 500;
  color: #666;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#keyword-list {
  min-height: 100px;
}

#pattern-list {
  min-height: 100px;
}

li {
  font-size: 16px;
  padding-bottom: 10px;
}

li.hor {
  float: left;
  padding-right: 20px;
}

a{
  text-decoration: none;
  color: #777;
  font-size: 16px;
}

a:hover {
  color: #2196F3;
}

a.close {
  float: right;
  color: #BDBDBD;
  padding-right: 5px;
  text-decoration:none;
}

li:hover a.close {
  color: #2196F3;
  display: inline;
}
